<h1>Listing fragments</h1>

<table>
  <thead>
    <tr>
      <th>Calendar line</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fragments.each do |fragment| %>
      <tr>
        <td><%= fragment.calendar_line %></td>
        <td><%= fragment.amount %></td>
        <td><%= link_to 'Show', fragment %></td>
        <td><%= link_to 'Edit', edit_fragment_path(fragment) %></td>
        <td><%= link_to 'Destroy', fragment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fragment', new_fragment_path %>
